*{
    font-family: system-ui;
}

.head-sec-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
}

.head-nav>ul>li{
    display: flex;
    justify-content: space-between;
    
}

.head-link{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
